{% extends "account/base.html" %}

{% block title %}
Pymestock
{% endblock title %}

{% block body %}
<div class="box">
    <div class="card text-center center">
        <div class="card-body">
            <h5 class="card-title fw-bold">Pymestock</h5>
            <br>
            <div class="form-floating mb-3" style="width: 80%; margin-left: 10%;">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="form-floating" style="width: 80%; margin-left: 10%;">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <br>
            <a href="#" class="btn btn-primary" style="width: 80%">Ingresar</a>
            <br>
            <a href="#" class="card-link top-margin">¿No tienes cuenta?</a>
        </div>
    </div>
</div>
{% endblock body %}