{% extends "pymestock/base.html" %}

{% block title %}
Panel de Usuario
{% endblock title %}

{% block body %}
<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
<div class="card" style="margin-top: 50px; width: 96%; margin-left: 2%; ">
  <div class="card text-center">
    <div class="card-header">
      EMPRESA
    </div>
    <img class="card-img-top" src="..." alt="Logo EMPRESA">
    <div class="card-body">
      <h5 class="card-title">NOMBRE EMPRESA</h5>
      <a href="{% url 'inventory:inventory' %}" class="btn btn-dark">Inventario</a>
      <a href="{% url 'inventory:add_item' %}" class="btn btn-dark">Añadir item al inventario</a>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      USUARIO
    </div>
    <div class="card-body">
      <h5 class="card-title">Username</h5>
      <a href="#" class="btn btn-dark"> Añadir Observador</a>
      <a href="{% url 'account:logout' %}" class="btn btn-dark">Cerrar sesión</a>
    </div>
  </div>

</div>
{% endblock body %}