{% extends "pymestock/base.html" %}

{% block title %}
Pymestock Sign In
{% endblock title %}

{% block body %}
<div class="card text-center" style="margin-top: 50px; width: 60%; margin-left: 20%;">
    <p class="display-5 fw-bold text-center" style="margin-top: 50px;">Pymestock - ¡Ingresa!<p>
    <hr style="width: 96%; margin-left: 2%;">
    <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3" style="width: 80%; margin-left: 10%;">
            <input type="text" class="form-control" name="login-username" placeholder="Usuario1">
            <label for="login-username">Nombre de usuario</label>
        </div>
        <div class="form-floating" style="width: 80%; margin-left: 10%;">
            <input type="password" class="form-control" name="login-pwd" placeholder="Password">
            <label for="login-pwd">Contraseña</label>
        </div>
        <br>
        <input type="submit" class="btn btn-dark" style="margin-bottom: 2%;" value="Ingresar">
        <br>
        <a href="{% url 'account:signup' %}" class="card-link top-margin">¿No tienes cuenta y eres un/a dueñ@ de PYME? ¡Regístrate!</a>
        <br><br>
    </form>
</div>

{% endblock body %}