{% extends "pymestock/base.html" %}

{% block title %}
Pymestock
{% endblock title %}

{% block body %}
<div class="card text-center" style="margin-top: 50px; width: 96%; margin-left: 2%;">
    <p class="display-5 fw-bold text-center" style="margin-top: 50px;"> Agregar item a inventario <p>
    <hr style="width: 96%; margin-left: 2%;">
    <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3" style="width: 80%; margin-left: 10%;">
            <input type="text" class="form-control" name="name" placeholder="Name" required>
            <label for="name">Nombre</label>
        </div>
        <div class="form-floating mb-3" style="width: 80%; margin-left: 10%;">
            <input type="text" class="form-control" name="brand" placeholder="Brand" required>
            <label for="brand">Marca</label>
        </div>
        <div class="form-floating mb-3" style="width: 80%; margin-left: 10%;">
            <input type="number" min="0" class="form-control" name="price" placeholder="Price" required>
            <label for="price">Precio</label>
        </div>
        <div class="form-floating mb-3" style="width: 80%; margin-left: 10%;">
            <input type="text" class="form-control" name="description" placeholder="Description" required>
            <label for="description">Descripción</label>
        </div>
        <br>
        <input type="submit" class="btn btn-dark" style="margin-bottom: 2%;" name="AddItem" value="Agregar item">
    </form>
</div>
{% endblock body %}
