{% extends "pymestock/base.html" %}

{% block title %}
Pymestock
{% endblock title %}

{% block body %}
<div class="card" style="margin-top: 50px; width: 96%; margin-left: 2%;">
    <p class="display-5 fw-bold text-center" style="margin-top: 50px;"> Inventario <p>
    <hr style="width: 96%; margin-left: 2%;">
    <div class ="text-center" style="display: flex; margin-bottom: 25px">
            <input type="text" class="form-control" style="width: 70%; margin-left:5%" placeholder="Buscar producto...">
            <button type="button" class="btn btn-dark" style="margin-left:1%; width: 19%">Buscar</button>
    </div>
    <table class="table table-hover text-center" style="width: 90%; margin-left:5%;">
        <thead class="table-dark">
            <tr>
                <th>Producto</th>
                <th>SKU</th>
                <th>Cantidad</th>
                <th>etc...</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}

